numpy==1.26.4
Flask
flask_sqlalchemy
flask_wtf
wtforms-html5
wheel
pandas
ccxt
click
pandas_ta
smartapi-python
selenium
beautifulsoup4
webdriver-manager
nsepython
attrs
dill
psutil
logzero
pyotp
schedule